.App-section {
  margin: 0 auto;
  height: 100vh;
  background: linear-gradient(135deg,  #007aff 0%,#39b54a 100%) no-repeat center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-section a {
  color: white;
}

.inline {
  display: flex;
  flex-direction: row;
}

.inline span{
  margin: 15px 30px;
}

.center {
  text-align: center;
}

.line {
  display: block;
  box-sizing: border-box;
  padding: 20px;
}

.line a {
  color: #fff;
}

input {
  display: block;
  margin: 20px 0;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 5px;
  display: block;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

input::placeholder {
  color: darkblue;
}

.btn {
  border-style: none;
  font-size: 0.6em;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;
  background-color: #39b54a ;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);

}

.btn:hover {
  background-color:#2b95d3;
  
  transition: background 0.2s ease-in-out 0s;
  
}




