
.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  top: 0;
}

.invisivel {
  display: none;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.azul {
  background-color: navy;
  border-color: navy;
  color: white;
}

.btn {
  border-style: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  
}

span {
  margin: 15px;
  font-size: 18px;
  
}


