
.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  top: 0;
}

.invisivel {
  display: none;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.azul {
  background-color: navy;
  border-color: navy;
  color: white;
}

.btn {
  border-style: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  
}

span {
  margin: 15px;
  font-size: 18px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
