/* Carousel */

.carousel-item {
    height: calc(100vh - 56px);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.carousel-item-1 {
    background-image: url(creative.jpg);
    
}
.carousel-item-2 {
    background-image: url(creative-2.jpg);
    
}

.carousel-item-3 {
    background-image: url(creative-3.jpg);
}