body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    
}

body div.container.myclass {
    margin: 0, auto;
    margin-top: 30px;
    padding-top: 20px;
    width: 360px;
    font-size: 14px;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
}

div.col-12 h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

div h2 {
    font-size: 14px;
    color: darkblue;
    text-align: center;
}

input {
    margin-top: 15px;
}

.center {
    text-align: center;
}

#center-img {
    display: block;
    margin: auto;
}

#poke-img {
    height: 190px;
    width: 190px;
}

#div-erro {
    margin: 0px auto;
    margin-top: 25px;
    margin-bottom: 10px; 
}

#com-sorte {
    margin: 20px;
}

.line-item  {
    margin: 15px;
    padding: 10px;
    color: black;
    border-radius: 10px;
    list-style: none;
}

.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.grass {
    background-color: #7AC74C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #D685AD;
}
