/* Box */

.box{
    padding: 15px;
    border-radius: 8px;
    background: #efefef;
    text-align: center;
}

.box div {
    width: 120px;
    height: 120px;
    padding: 35px 0;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background: #efefef;
}

