/*Reset*/
/* Green DBC: #39b54a Blue DBC: #007aff */

nav ul,
body {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}
section ul {
    list-style: none;
}


body {
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    position: relative;
}


@media (min-width: 700px){
    body {
        padding-top: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        position: relative;
    }

}

a {
    color: #007aff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}