/* Sobre */

.about-us .row {
    margin-bottom: 30px;
}

.about-us img {
    height: 80px;

    margin: 0 15px 15px 0;
    float: left;
}

.about-us .row:nth-child(2n) img {
    margin: 0 0 15px 15px;
    float: right;
}

