.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
}

.fade-in {
  animation: fadein 1s linear forwards;
}

.fade-out {
  animation: fadeout 1s linear forwards;
}

@keyframes fadein { from{ opacity: 0; } to { opacity: 1; visibility: visible; } }

@keyframes fadeout { from{ opacity: 0; } to { opacity: 0; visibility: hidden; } }

.App-section {
  background-color: #282c34;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.App-section ul {
  list-style: none;
}

.btn {
  border-style: none;
  font-size: 1em;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.vermelho {
  background-color: red;
  border-color: red;
  color: white;
}

.azul {
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
}

.botoes {
  margin-top: 10px;
}

.botoes .btn {
  margin: 0 15px 0 15px;
}

.erro {
  border: 2px solid red;

}

.msg-box {
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  width: 70%;
}

input {
  margin-top: 15px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 5px;
}