/* Footer */

nav ul,
body {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

a {
    color: grey;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-footer{
    padding: 10px 0;
    background: #21242b;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    text-align: center;
    height: 50px;
    z-index: 99;
}

.main-footer li,
.main-footer a {
    display: inline-block;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



