/* Contato */

.field {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 15px;
    border: 1px solid #efefef;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.field {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}

.map-container {
    width: 100%;
    
}

.map {
    display: block;
    width: 100%;
    height: 60vh;
    border: none;
}

@media (min-width: 640px) {
    .map-container {
        width: 50vw;
        min-height: calc(100vh - 50px - 130px - 40px);
        position: absolute;
        top: 50px;
        bottom: 130px;
        right: 0;
        z-index: 1;
    }    
} 
