/* Footer */

.main-footer{
    margin-top: 40px;
    padding: 20px 0;
    background: #efefef;
    text-align: center;
    z-index: 99;
}

.main-footer li,
.main-footer a {
    display: inline-block;
}

.main-footer a {
    padding: 10px 20px;
}

.main-footer p {
    margin: 30px 0 0;
    font-size: 12px;
}

@media (max-width: 480px) {
    .main-footer{
        font-size: 12px;
    }


}