.main-header {
    width: 100%;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo {
    display: block;
    height: 50px;
    padding-top: 3px;
    float: left;
}

.logo img {
    height: 100%;
}

.main-header ul {
    float: right;
}

.main-header li {
    padding: 15px;
    float: left;
}


nav ul {
    margin: 0;
}

nav ul {
    padding: 3px;
    list-style: none;
}

a {
    color: #007aff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}