
.container{
    margin: 0 auto;
    padding: 30px;
}

.flag{
    margin-top: 70px;
    position: relative;
    background-color: white;
    width: 250px;
    height: 150px;
    border:1px solid #ddd
}

#finland{
    background-color:#fff;
    background-image:linear-gradient(transparent 55px,#003580 55px),
    linear-gradient(90deg,transparent 70px,#003580 70px);
    background-size:246px 96px,110px 150px;
    background-repeat:no-repeat;
}

#germany{
    background-image:linear-gradient(#000 33%,#d00 33%,#d00 66%,#ffce00 66%);
}

#japan{
    position: relative;
    background:#fff;
}

#japan .circle{
    margin: 0 auto;
    margin-top: 30px;
    display:block;
    width:91px;
    top:50%;
    left:50%;
    height:91px;
    background:#bc002d;
    border-radius:50%;
}

#greece{
    background-image:linear-gradient(90deg,transparent 15%,#fff 15%,#fff 22.5%,transparent 22.5%),
    linear-gradient(transparent 22%,#fff 22%,#fff 33%,transparent 33%),
    linear-gradient(#0d5eaf 50%,#0d5eaf 50%),
    linear-gradient(#0d5eaf 50%,#fff 50%);
    background-size:100% 55%,36.6% 100%,36.8% 55%,100% 22.2%;
    background-repeat:no-repeat,no-repeat,no-repeat,repeat;
}

#lebanon{
    position:relative;
    background-image:linear-gradient(#d00 33%,#fff 33%,#fff 66%,#d00 66%);
}
#tree {
    display:block;
    margin: 0 auto;
    margin-top: 50px;
    height: 49px;
}