.container {
    width: 80%;
}

body {
    color: #0c1713;
    background-color: #f1f0cc;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

a {
    color: #3f0d12;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #800e13;
    text-decoration: none;
}

h1,
h2,
h3 {
    color: #3f0d12;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
}

h3 {
    font-style: italic;
}


.box {
    margin: 30px;
    border: 4px solid #f1f0c0;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.box .imagem {
    width: 100%;
    border-radius: 12px;
}

#carouselExampleIndicators {
    margin-top: 30px;
    width: 100%;
    display: block;
}

.carousel-item {
    height: 500px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item-0{
    background-image: url(../img/roma0.jpg);
}

.carousel-item-1 {
    background-image: url(../img/roma1.jpg);
}

.carousel-item-2 {
    background-image: url(../img/roma2.jpg);
}

.carousel-item-3 {
    background-image: url(../img/roma3.jpg);
}


