footer div {
    background-color: #f1f0cc;
    color: #3f0d12;
    font-family: Arial, Helvetica, sans-serif;
}


footer nav a.nav-link {
    color: #3f0d12;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
footer nav a:hover {
    color: #800e13;
    text-decoration: none;
}

footer div p {
    font-size: 12px;
    line-height: 14px;
}